main {
  width: 1080px;
  margin: auto;
  padding: 75px 30px;
  background-color: #eeeeee;
}

.list-title {
  margin-bottom: 20px;
}

.list-title span {
  font-weight: 900;
  font-size: 30px;
  position: relative;
  right: 326px;
  top: 44px;
}

.list-title img:first-child {
  transform: translateX(-14px);
}

.list-title img:nth-child(2) {
  transform: translateX(102px);
}

.mb-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bi-search {
  color: #3a3845;
  padding: 12px;
  position: absolute;
  left: 103px;
}

#searchInput {
  width: 80%;
  background-color: #c4c4c4;
  font-size: 28px;
  border-radius: 30px;
  padding-left: 50px;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  background-color: #c4c4c4;
  border-radius: 30px;
  margin-bottom: 30px;
}

.filter-row {
  display: flex;
  margin: 10px 0px;
}

.filter-one {
  display: flex;
  width: 50%;
  align-items: flex-start;
}

.filter-values {
  display: flex;
}

.filter-key {
  background-color: var(--orange);
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 30px;
  padding: 0, 5px;
  width: 85px;
  text-align: center;
  margin-right: 20px;
}

.filter-values {
  background-color: var(--orange);
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.filter-value {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s;
}

.filter-value:hover {
  color: var(--default);
}

.list-sort {
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
  margin-bottom: 15px;
}

.list-sort a {
  margin-right: 15px;
  color: var(--default);
}

.list-sort a:hover {
  color: var(--orange);
}
