/*전체 폰트*/
* {
    font-family: 'Noto Sans KR', sans-serif;
}

/*여기서부터 네비게이션바*/
.naviBar {
    background-color: #FF6219;
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 100;
}

.naviBar ul li {
    list-style: none;
    color: #3A3845;
    background-color: #FF6219;
    float: left;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
}

.naviBar .logoIcon {
    height: 65px;
    transition: all 0.3s ease-in-out;
    margin-left: 55px;
    margin-right: 55px;
}

.naviBar .logoIcon:hover {
  transform: rotateY(180deg) scale(1.2);
}

.menuLink {
    text-decoration: none;
    color: #3A3845;
    display: block;
    width: 180px;
    font-size: 18px;
    font-weight: bolder;
}

.menuLink:hover {
    transition: 0.5s;
    font-size: 19px;
    text-decoration: none;
    color: #3A3845;
    background: #FFF3ED;
}

.myPageLink {
    position: absolute;
    right: 19%;
}

.loginIcon {
    height: 38px;

}

.loginIcon:hover {
    transition: 0.5s;
    transform: scale(1.08)
}

/*실제 컨텐츠 작성*/
.wrap {
    width: 1080px;
    margin: auto;
    color: #3A3845;
}

/*메인 추천 레시피*/
.random-food {
    width: 500px;
    right: 229px;
    margin-top: 30px;
}

.random-food-recipe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.random-food-recipe > img {
    margin-right: 50px;
}

.random-food-recipe-difficulty {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.ingredient-li {
    float: left;
    margin-right: 100px;
    font-weight: 500;
}

/*메인 베스트 레시피*/
.best-recipe {
    display: flex;
    flex-direction: column;
}

.best-recipe-top {
    display: flex;
    flex-direction: row;
    align-items: self-end;
    margin-bottom: 10px;
}

.best-recipe-text {
    text-decoration: underline;
}

.btn {
    background-color: #FF6219;
    font-weight: 700;
    float: right;
    margin-right: 30px;
}

.best-recipe-rank-top {
    position: relative;
    top: 12%;
}

.best-recipe-rank-second {
    position: relative;
    top: 12%;
}

.best-recipe-rank-third {
    position: relative;
    top: 12%;
}


