.mylike-border {
  width: 567px;
  height: 2px;
  background-color: black;
  margin: 15px 0;
}

.new_folder-icon {
  align-self: flex-end;
  margin-right: 40px;
  cursor: pointer;
  margin-bottom: 15px;
}

.recipe-folder {
  width: 567px;
  border: 1px solid #8c8c8c;
  border-radius: 15px;
  padding: 20px 30px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

.folder-head {
  margin-bottom: 12px;
}

.folder-title {
  margin-right: 10px;
  margin-left: 5px;
  font-weight: 600;
}

.folder-row {
  margin-bottom: 3px;
}

.folder-row .recipe-link {
  color: var(--default);
}

.folder-row .recipe-link:hover {
  color: black;
}

.folder-row .recipe-title {
  font-weight: 600;
  display: inline-block;
  width: 210px;
}

.folder-functions {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
}

.fa-pen-to-square:hover,
.fa-trash-can:hover {
  color: black;
}

.folder-functions .fa-pen-to-square {
  margin-right: 20px;
}
