.myreview {
  width: 580px;
  border: 1px solid #8c8c8c;
  border-radius: 23px;
  padding: 12px 25px;
  margin: 12px 0;
  position: relative;
}

.myreview .recipe-title {
  font-size: 20px;
  font-weight: 500;
}

.myreview .recipe-link {
  color: var(--default);
  text-decoration: none;
}

.myreview .recipe-link:hover {
  color: black;
}

.myreview .review-text {
  display: block;
  font-size: 15px;
  word-break: keep-all;
  margin-top: 15px;
}
