.naviBar {
  background-color: #ff6219;
  height: 70px;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.naviBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 0;
}

.naviBar ul li {
  list-style: none;
  text-align: center;
  font-size: 25px;
  width: 216px;
  font-weight: 700;
  margin-bottom: 5px;
  white-space: nowrap;
}

.naviBar ul li a {
  color: #ffffff;
  text-decoration: none;
}

.naviBar .logoIcon {
  height: 48px;
  transition: all 0.3s ease-in-out;
}

.naviBar .logoIcon:hover {
  transform: rotateY(180deg) scale(1.2);
}

.naviBar .current {
  color: var(--default);
}

.menuLink {
  transition: all 0.2s ease-in-out;
}

.menuLink:hover {
  color: var(--default);
}

.loginIcon {
  margin-bottom: 4px;
  transition: all 0.2s ease-in-out;
}

.loginIcon:hover {
  transform: scale(1.08);
  fill: var(--default);
}