.navbar {
  background-color: var(--orange);
}

.navbar a {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
}

.navbar a:hover {
  color: var(--default);
}

.navbar .active {
  color: var(--default);
}
