<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/detail.css/">

    <title>상세 레시피 페이지</title>
    <script>
        $(document).ready(function () {

            const urlParams = new URLSearchParams(window.location.search);
            const name = urlParams.get("recipe_name");

            // console.log(name)

            $.ajax({
                type: "GET",
                url: `/detail/recipe-detail?name=${name}`,
                data: {},
                success: function (response) {

                    let targetRecipe = response['target_recipe']
                    // console.log(targetRecipe)

                    let recipeName = targetRecipe['recipe_name']
                    let recipeImg = targetRecipe['recipe_img']
                    let recipeIngs = targetRecipe['recipe_ing']
                    let recipeDiff = targetRecipe['recipe_diff']
                    let recipeTime = targetRecipe['recipe_time']
                    let recipeDetails = targetRecipe['recipe_detail']
                    let recipeLink = targetRecipe['recipe_link']
                    let recipeLike = targetRecipe['recipe_like']
                    let recipeWritter = targetRecipe['recipe_writter']
                    // console.log(recipeName, recipeImg, recipeIngs, recipeDiff, recipeTime, recipeDetails, recipeLink, recipeLike, recipeWritter)

                    temp_html = `<img class="recipe_img" src="${recipeImg}">`
                    temp_html2 = `<span class="recipe_name" id="name">${recipeName}</span><br>
                                  <span class="recipe_writter" id="writter">${recipeWritter}</span><br>
                                  <span class="recipe_diff"><img src="/static/img/diffIcon.png" class="diffIcon">${recipeDiff}</span><br>
                                  <div class="recipe_add">
                                      <img src="/static/img/addIcon.png" class="addIcon">
                                      <p class="arrow_box">즐겨찾기에 추가!</p>
                                  </div>
                                  <span class="recipe_like"><img src="/static/img/likeIcon.png" class="likeIcon">${recipeLike}</span>`

                    temp_html3 = `<div class="timeIconWrap">
                                      <img src="/static/img/timeIcon.png" class="timeIcon">
                                      <span class="timeBox">${recipeTime}</span>
                                  </div>
                                  <div class="diff2IconWrap">
                                      <img src="/static/img/3starsIcon.png" class="diff2Icon">
                                      <span class="diff2Box">${recipeDiff}</span>
                                  </div>`

                    $('#imgWrap').append(temp_html)
                    $('#titleWrap').append(temp_html2)
                    $('#iconWrap').append(temp_html3)

                    let recipeDetail = recipeDetails.split("\n");
                    // console.log(recipeDetail)

                    for(let i = 0; i < recipeDetail.length; i++) {
                        let detail = recipeDetail[i];
                        // console.log(detail)

                        temp_html4 = `<li class="process">${detail}</li>`

                        $('#processList').append(temp_html4)

                    }

                    let recipeIng = recipeIngs.split("\n");
                    // console.log(recipeIng)

                    for(let i = 0; i < recipeIng.length; i++) {
                        let Ing = recipeIng[i];
                        // console.log(detail)

                        temp_html5 = `<li class="ingredient">${Ing}</li>`

                        $('#ingList').append(temp_html5)

                    }

                    }

            })
        })

        function reviewPost() {
                let nickName = 'abcdefg'
                let content = $('#reviewInput').val()

                const urlParams = new URLSearchParams(window.location.search);
                const name = urlParams.get("recipe_name");
                // console.log(nickName, content, name)

                $.ajax({
                    type: "POST",
                    url: "/order",
                    data: {user_nickname_give:nickName, review_content_give:content, recipe_name_give_:name},
                    success: function (response) { // 성공하면
                        alert(response["msg"]);
                        window.location.reload();
                    }
                })


        }
    </script>
</head>
<body>
    <nav class="naviBar">
        <ul>
            <li><a class="logoLink" href="#">로고 미정</a></li>
            <li><a class="menuLink" href="#">전체 레시피 보기</a></li>
            <li><a class="menuLink" href="#">랭킹 보기</a></li>
            <li><a class="menuLink" href="#">나만의 레시피</a></li>
            <li><a class="menuLink" href="#">마이페이지</a></li>
            <li><a class="myPageLink" href="#"><img src="/static/img/myPageIcon.png" class="loginIcon"></a></li>
        </ul>
    </nav>

    <div class="wrap">
        <div class="detailWrap">
            <div class="detailImgWrap" id="imgWrap">
<!--                레시피 이미지 들어가는 부분-->
            </div>
            <div class="detailTitleWrap" id="titleWrap">
<!--                레시피 타이틀 박스 들어가는 부분-->
            </div>
            <div class="imforWrap">
                <div class="container">
                    <div class="sortBar">
                        <ul class="tabs">
                            <li class="recipeSort current" data-tab="tab-1">레시피</li>
                            <li class="recipeSort" data-tab="tab-2">조리과정</li>
                            <li class="recipeSort" data-tab="tab-3">리뷰</li>
                        </ul>
                    </div>
                    <div class="contentWrap">
                        <div id="tab-1" class="tabContent current">
                            <div class="iconWrap" id="iconWrap">
<!--                                조리시간, 난이도 아이콘 들어가는 정보 박스 부분-->
                            </div>
                            <div class="ingredientWrap">
                                <span class="ingTitle">📌 최소한 이건 준비하자!</span>
                                <ul class="ingList" id="ingList">
<!--                                    레시피 재료 들어가는 부분-->
                                </ul>
                            </div>
                        </div>
                        <div id="tab-2" class="tabContent">
                            <div class="processWrap">
                                <span class="processTitle">📌 이정돈 만들 수 있다!</span>
                                <ul class="processList" id="processList">
<!--                                    레시피 조리과정 들어가는 부분-->
                                </ul>
                            </div>
                        </div>
                        <div id="tab-3" class="tabContent">
                            <div class="reviewWrap">
                                <span class="reviewTitle">📌 나도 만들었다! 내가 만든 요리 후기</span>
                                <div class="reviewWrite">
                                    <input type="text" placeholder="후기를 작성해주세요!" class="reviewInput" id="reviewInput">
                                    <button type="button" class="reviewBtn" onclick="reviewPost()">등록</button>
                                </div>
                                <hr class="line">
                                <div class="reviewListWrap">
                                    <div class="reviewList">
                                        <span class="userName">작성자: 김댕댕</span>
                                        <span class="reviewDate">2022-03-01</span>
                                        <span class="review">너무 맛있어요!</span>
                                        <button type="button" class="deleteBtn">삭제</button>
                                        <button type="button" class="updateBtn">수정</button>
                                    </div>
                                    <div class="reviewList">
                                        <span class="userName">작성자: 김댕댕</span>
                                        <span class="reviewDate">2022-03-01</span>
                                        <span class="review">실제로 해먹어 봤는데 엄청 쉬워요</span>
                                        <button type="button" class="deleteBtn">삭제</button>
                                        <button type="button" class="updateBtn">수정</button>
                                    </div>
                                    <div class="reviewList">
                                        <span class="userName">작성자: 김댕댕</span>
                                        <span class="reviewDate">2022-03-01</span>
                                        <span class="review">또 해먹을거에요</span>
                                        <button type="button" class="deleteBtn">삭제</button>
                                        <button type="button" class="updateBtn">수정</button>
                                    </div>
                                    <div class="reviewList">
                                        <span class="userName">작성자: 김댕댕</span>
                                        <span class="reviewDate">2022-03-01</span>
                                        <span class="review">다른 친구한테도 추천했어요!</span>
                                        <button type="button" class="deleteBtn">삭제</button>
                                        <button type="button" class="updateBtn">수정</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>
    <script type="text/javascript" src="/static/js/detail.js/"></script>
</body>
