<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>자취생에 의한 자취생만을 위한 너만의 레시피</title>
    <link rel="stylesheet" type="text/css" href="static\css\index.css">
</head>
<style>

    /*여기서부터 네비게이션바*/
    .navbar {
        background-color: #FF6219;
    }

    .nav-item {
        color: #3A3845;
    }
    /*실제 컨텐츠 작성*/
    .wrap {
        width: 1080px;
        margin: auto;
    }
</style>
<body>
<div class="wide">
    <!--    여기서부터 네비게이션바-->
    <nav class="navbar navbar-expand-lg navbar-#FF6219 bg-#FF6219">
        <div class="container-fluid">
            <div class="navbar navbar-collapse">
                <a class="navbar-brand" href="#">자취생에 의한 자취생만을 위한 너만의 레시피</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">전체 레시피 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">랭킹 보기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">나만의 레시피 만들기</a>
                    </li>
                </ul>
                <img src="C:\github\sparta-mc12th\static\img\login.png"/>
                <button class="btn btn-outline-black" type="button">login</button>
            </div>
        </div>
    </nav>
    <!--실제 컨텐츠 작성-->
    <div class="wrap">
        <!--메인 배너-->
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://han.gl/YQCwF" class="d-block w-100" alt="1">
                </div>
                <div class="carousel-item">
                    <img src="https://han.gl/TyNoe" class="d-block w-100" alt="2">
                </div>
                <div class="carousel-item">
                    <img src="https://han.gl/YQCwF" class="d-block w-100" alt="3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--메인 배너-->
        <div>

        </div>
    </div>

</div>


</body>
</html>