<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/rank.css/">

    <title>랭킹 페이지</title>
    <script>

        $(document).ready(function () {

            //let today = new Date();
            //let year = today.getFullYear()
            //let month = ("00" + (today.getMonth() + 1)).slice(-2)
            //let day = ("00" + today.getDate()).slice(-2)

            //let today_date = year + "-" + month + "-" + day
            let today_date = "2022-03-01"
            //console.log(today_date)

            let sort = "";
            $(".tabs li").on("click", function () {
                $('#firstRecipe').empty()
                $('#secondRecipe').empty()
                $('#thirdRecipe').empty()
                $('#otherRecipes').empty()
                $('#firstRecipe2').empty()
                $('#secondRecipe2').empty()
                $('#thirdRecipe2').empty()
                $('#otherRecipes2').empty()

                sort = $(this).text()

                let alldata = {"click_give": sort, "date_give":today_date}
                console.log(sort)

                $.ajax({
                    type: "GET",
                    url: "/rank/get",
                    data: alldata,
                    success: function (response) {
                        let recipes = response['filtered_data']
                        // console.log(recipes)

                        if (sort === "월간") {
                            // 1등 레시피 append
                            let firstRecipe = recipes[0]

                            let firstRecipeName = firstRecipe['recipe_name']
                            let firstRecipeImg = firstRecipe['recipe_img']
                            let firstRecipeDiff = firstRecipe['recipe_diff']
                            let firstRecipeTime = firstRecipe['recipe_time']
                            console.log(firstRecipeName, firstRecipeImg, firstRecipeDiff, firstRecipeTime)

                            temp_html = `<div class="recipeWrap">
                                              <div class="recipeImgWrap">
                                                  <img class="medalIcon" src="/static/img/firstMedalIcon.png">
                                                  <img class="recipe_img" src="${firstRecipeImg}">
                                              </div>
                                              <div class="descWrap">
                                                  <div class="recipeDescWrap">
                                                  <a class="recipe_link" href="#"><span class="recipe_name">${firstRecipeName}</span></a><br>
                                                  </div>
                                              </div>
                                              <div class="recipeDesc2Wrap">
                                                  <div class="recipeTimeWrap">
                                                      <img class="timeIcon" src="/static/img/timeIcon.png/">
                                                      <span class="recipe_time" id="recipe_time">${firstRecipeTime}</span>
                                                  </div>
                                                  <div class="recipeDiffWrap">
                                                      <img class="diffIcon" src="/static/img/3starIcon.png/">
                                                      <span class="recipe_diff" id="recipe_diff">${firstRecipeDiff}</span>
                                                  </div>
                                              </div>
                                          </div>`

                            $('#firstRecipe').append(temp_html)

                            // 2등 레시피 append
                            let secondRecipe = recipes[1]
                            // console.log(recipe)

                            let secondRecipeName = secondRecipe['recipe_name']
                            let secondRecipeImg = secondRecipe['recipe_img']
                            let secondRecipeDiff = secondRecipe['recipe_diff']
                            let secondRecipeTime = secondRecipe['recipe_time']
                            // console.log(secondRecipeName, secondRecipeImg, secondRecipeDiff, secondRecipeTime)

                            temp_html2 = `<div class="recipeWrap">
                                              <div class="recipeImgWrap">
                                                  <img class="medalIcon" src="/static/img/secondMedalIcon.png">
                                                  <img class="recipe_img" src="${secondRecipeImg}">
                                              </div>
                                              <div class="descWrap">
                                                  <div class="recipeDescWrap">
                                                  <a class="recipe_link" href="#"><span class="recipe_name">${secondRecipeName}</span></a><br>
                                                  </div>
                                              </div>
                                              <div class="recipeDesc2Wrap">
                                                  <div class="recipeTimeWrap">
                                                      <img class="timeIcon" src="/static/img/timeIcon.png/">
                                                      <span class="recipe_time" id="recipe_time">${secondRecipeTime}</span>
                                                  </div>
                                                  <div class="recipeDiffWrap">
                                                      <img class="diffIcon" src="/static/img/3starIcon.png/">
                                                      <span class="recipe_diff" id="recipe_diff">${secondRecipeDiff}</span>
                                                  </div>
                                              </div>
                                          </div>`

                            $('#secondRecipe').append(temp_html2)

                            // 3등 레시피 append
                            let thirdRecipe = recipes[2]
                            // console.log(recipe)

                            let thirdRecipeName = thirdRecipe['recipe_name']
                            let thirdRecipeImg = thirdRecipe['recipe_img']
                            let thirdRecipeDiff = thirdRecipe['recipe_diff']
                            let thirdRecipeTime = thirdRecipe['recipe_time']
                            // console.log(thirdRecipeName, thirdRecipeImg, thirdRecipeDiff, thirdRecipeTime)

                            temp_html3 = `<div class="recipeWrap">
                                              <div class="recipeImgWrap">
                                                  <img class="medalIcon" src="/static/img/thirdMedalIcon.png">
                                                  <img class="recipe_img" src="${thirdRecipeImg}">
                                              </div>
                                              <div class="descWrap">
                                                  <div class="recipeDescWrap">
                                                  <a class="recipe_link" href="#"><span class="recipe_name">${thirdRecipeName}</span></a><br>
                                                  </div>
                                              </div>
                                              <div class="recipeDesc2Wrap">
                                                  <div class="recipeTimeWrap">
                                                      <img class="timeIcon" src="/static/img/timeIcon.png/">
                                                      <span class="recipe_time" id="recipe_time">${thirdRecipeTime}</span>
                                                  </div>
                                                  <div class="recipeDiffWrap">
                                                      <img class="diffIcon" src="/static/img/3starIcon.png/">
                                                      <span class="recipe_diff" id="recipe_diff">${thirdRecipeDiff}</span>
                                                  </div>
                                              </div>
                                          </div>`

                            // 레시피 이름 클릭하면 해당 레시피의 상세 페이지로 이동
                            $('#thirdRecipe').append(temp_html3)

                            let name = "";
                            $(".recipe_name").click(function () {
                                name = $(this).text()

                                if (name != null) {
                                document.location.href = `/detail?recipe_name=${name}`
                                }
                            })

                            // 4~10위 레시피 append
                            for (let i = 3; i < recipes.length; i++) {
                                let recipe = recipes[i]
                                // console.log(recipe)

                                let recipeName = recipe['recipe_name']
                                let recipeDiff = recipe['recipe_diff']
                                let recipeTime = recipe['recipe_time']
                                let rank = i+1
                                // console.log(rank, recipeName, recipeDiff, recipeTime)

                                temp_html4 = `<div class="recipeWraps">
                                                  <span class="recipeRank">${rank}</span>
                                                  <div class="recipeNameWrap">
                                                      <a class="recipe_link" href="#"><span class="recipe_name2">${recipeName}</span></a>
                                                      <div class="recipeDescWraps">
                                                          <img class="timeIcon2" style="width: 30px" src="/static/img/timeIcon.png/">
                                                          <span class="recipe_time2">${recipeTime}</span>
                                                          <img class="diffIcon2" style="width: 35px" src="/static/img/3starIcon.png/">
                                                          <span class="recipe_diff2">${recipeDiff}</span>
                                                      </div>
                                                  </div>
                                                  <hr>
                                               </div>`

                                $('#otherRecipes').append(temp_html4)

                                let name = "";
                                $(".recipe_name2").click(function () {
                                    name = $(this).text()

                                    if (name != null) {
                                    document.location.href = `/detail?recipe_name=${name}`
                                    }
                                })


                            }
                        } else if (sort === "일간") {
                                // 1등 레시피 append
                            let firstRecipe = recipes[0]

                            let firstRecipeName = firstRecipe['recipe_name']
                            let firstRecipeImg = firstRecipe['recipe_img']
                            let firstRecipeDiff = firstRecipe['recipe_diff']
                            let firstRecipeTime = firstRecipe['recipe_time']
                            console.log(firstRecipeName, firstRecipeImg, firstRecipeDiff, firstRecipeTime)

                            temp_html = `<div class="recipeWrap">
                                              <div class="recipeImgWrap">
                                                  <img class="medalIcon" src="/static/img/firstMedalIcon.png">
                                                  <img class="recipe_img" src="${firstRecipeImg}">
                                              </div>
                                              <div class="descWrap">
                                                  <div class="recipeDescWrap">
                                                  <a class="recipe_link" href="#"><span class="recipe_name">${firstRecipeName}</span></a><br>
                                                  </div>
                                              </div>
                                              <div class="recipeDesc2Wrap">
                                                  <div class="recipeTimeWrap">
                                                      <img class="timeIcon" src="/static/img/timeIcon.png/">
                                                      <span class="recipe_time" id="recipe_time">${firstRecipeTime}</span>
                                                  </div>
                                                  <div class="recipeDiffWrap">
                                                      <img class="diffIcon" src="/static/img/3starIcon.png/">
                                                      <span class="recipe_diff" id="recipe_diff">${firstRecipeDiff}</span>
                                                  </div>
                                              </div>
                                          </div>`

                            $('#firstRecipe2').append(temp_html)

                            // 2등 레시피 append
                            let secondRecipe = recipes[1]
                            // console.log(recipe)

                            let secondRecipeName = secondRecipe['recipe_name']
                            let secondRecipeImg = secondRecipe['recipe_img']
                            let secondRecipeDiff = secondRecipe['recipe_diff']
                            let secondRecipeTime = secondRecipe['recipe_time']
                            // console.log(secondRecipeName, secondRecipeImg, secondRecipeDiff, secondRecipeTime)

                            temp_html2 = `<div class="recipeWrap">
                                              <div class="recipeImgWrap">
                                                  <img class="medalIcon" src="/static/img/secondMedalIcon.png">
                                                  <img class="recipe_img" src="${secondRecipeImg}">
                                              </div>
                                              <div class="descWrap">
                                                  <div class="recipeDescWrap">
                                                  <a class="recipe_link" href="#"><span class="recipe_name">${secondRecipeName}</span></a><br>
                                                  </div>
                                              </div>
                                              <div class="recipeDesc2Wrap">
                                                  <div class="recipeTimeWrap">
                                                      <img class="timeIcon" src="/static/img/timeIcon.png/">
                                                      <span class="recipe_time" id="recipe_time">${secondRecipeTime}</span>
                                                  </div>
                                                  <div class="recipeDiffWrap">
                                                      <img class="diffIcon" src="/static/img/3starIcon.png/">
                                                      <span class="recipe_diff" id="recipe_diff">${secondRecipeDiff}</span>
                                                  </div>
                                              </div>
                                          </div>`

                            $('#secondRecipe2').append(temp_html2)

                            // 3등 레시피 append
                            let thirdRecipe = recipes[2]
                            // console.log(recipe)

                            let thirdRecipeName = thirdRecipe['recipe_name']
                            let thirdRecipeImg = thirdRecipe['recipe_img']
                            let thirdRecipeDiff = thirdRecipe['recipe_diff']
                            let thirdRecipeTime = thirdRecipe['recipe_time']
                            // console.log(thirdRecipeName, thirdRecipeImg, thirdRecipeDiff, thirdRecipeTime)

                            temp_html3 = `<div class="recipeWrap">
                                              <div class="recipeImgWrap">
                                                  <img class="medalIcon" src="/static/img/thirdMedalIcon.png">
                                                  <img class="recipe_img" src="${thirdRecipeImg}">
                                              </div>
                                              <div class="descWrap">
                                                  <div class="recipeDescWrap">
                                                  <a class="recipe_link" href="#"><span class="recipe_name">${thirdRecipeName}</span></a><br>
                                                  </div>
                                              </div>
                                              <div class="recipeDesc2Wrap">
                                                  <div class="recipeTimeWrap">
                                                      <img class="timeIcon" src="/static/img/timeIcon.png/">
                                                      <span class="recipe_time" id="recipe_time">${thirdRecipeTime}</span>
                                                  </div>
                                                  <div class="recipeDiffWrap">
                                                      <img class="diffIcon" src="/static/img/3starIcon.png/">
                                                      <span class="recipe_diff" id="recipe_diff">${thirdRecipeDiff}</span>
                                                  </div>
                                              </div>
                                          </div>`

                            // 레시피 이름 클릭하면 해당 레시피의 상세 페이지로 이동
                            $('#thirdRecipe2').append(temp_html3)

                            let name = "";
                            $(".recipe_name").click(function () {
                                name = $(this).text()

                                if (name != null) {
                                document.location.href = `/detail?recipe_name=${name}`
                                }
                            })

                            // 4~10위 레시피 append
                            for (let i = 3; i < recipes.length; i++) {
                                let recipe = recipes[i]
                                // console.log(recipe)

                                let recipeName = recipe['recipe_name']
                                let recipeDiff = recipe['recipe_diff']
                                let recipeTime = recipe['recipe_time']
                                let rank = i+1
                                // console.log(rank, recipeName, recipeDiff, recipeTime)

                                temp_html4 = `<div class="recipeWraps">
                                                  <span class="recipeRank">${rank}</span>
                                                  <div class="recipeNameWrap">
                                                      <a class="recipe_link" href="#"><span class="recipe_name2">${recipeName}</span></a>
                                                      <div class="recipeDescWraps">
                                                          <img class="timeIcon2" style="width: 30px" src="/static/img/timeIcon.png/">
                                                          <span class="recipe_time2">${recipeTime}</span>
                                                          <img class="diffIcon2" style="width: 35px" src="/static/img/3starIcon.png/">
                                                          <span class="recipe_diff2">${recipeDiff}</span>
                                                      </div>
                                                  </div>
                                                  <hr>
                                               </div>`

                                $('#otherRecipes2').append(temp_html4)

                                let name = "";
                                $(".recipe_name2").click(function () {
                                    name = $(this).text()

                                    if (name != null) {
                                    document.location.href = `/detail?recipe_name=${name}`
                                    }
                                })


                            }
                        }





                    }
                })


            })
            $("#defaultTab").trigger("click");


        })









    </script>


<body>
    <nav class="naviBar">
        <ul>
            <li><a class="logoLink" href="/"><img class="logoIcon" src="/static/img/logo.png"></a></li>
            <li><a class="menuLink" href="/list">전체 레시피 보기</a></li>
            <li><a class="menuLink" href="/rank">랭킹 보기</a></li>
            <li><a class="menuLink" href="/make_recipe">나만의 레시피</a></li>
            <li><a class="menuLink" href="#">마이페이지</a></li>
            <li><a class="myPageLink" href="/login"><img src="/static/img/myPageIcon.png" class="loginIcon"></a></li>
        </ul>
    </nav>

    <div class="wrap">
        <div class="rankTitleWrap">
            <img src="/static/img/starIcon.png/" class="starIcon"><span class="rankTitle">ㅏ들 이정도는 만들더라 TOP
            <span class="rankTitleTop10">10</span></span>
        </div>

        <div class="contentWrap">
            <div class="sortBar">
                <p class="text">요리 이름을 클릭하면, 더욱 자세한 레시피를 보러 갈 수 있습니다!</p>
                <ul class="tabs">
                    <li class="sortTab current" data-tab="tab-1" id="defaultTab">월간</li>
                    <li class="sortTab" data-tab="tab-2">일간</li>
                </ul>
            </div>
            <div id="tab-1" class="listWrap current">
<!--                월간 추천 1위 레시피-->
                <div class="weeklyFirstRecipe" id="firstRecipe"></div>
<!--                월간 추천 2위 레시피-->
                <div class="weeklyFirstRecipe" id="secondRecipe"></div>
<!--                월간 추천 3위 레시피-->
                <div class="weeklyFirstRecipe" id="thirdRecipe"></div>
                <div class="weeklyRecipes">
                    <div class="recipeWrapss" id="otherRecipes">
                        <hr>
<!--                        월간 랭킹 4위 레시피-->

<!--                        월간 랭킹 5위 레시피-->

<!--                        월간 랭킹 6위 레시피-->

<!--                        월간 랭킹 7위 레시피 -->
                    </div>
                </div>
            </div>
            <div id="tab-2" class="listWrap current">
<!--                일간 추천 1위 레시피-->
                <div class="weeklyFirstRecipe" id="firstRecipe2"></div>
<!--                일간 추천 2위 레시피-->
                <div class="weeklyFirstRecipe" id="secondRecipe2"></div>
<!--                일간 추천 3위 레시피-->
                <div class="weeklyFirstRecipe" id="thirdRecipe2"></div>
                <div class="weeklyRecipes">
                    <div class="recipeWrapss" id="otherRecipes2">
                        <hr>
<!--                        일간 랭킹 4위 레시피-->

<!--                        일간 랭킹 5위 레시피-->

<!--                        일간 랭킹 6위 레시피-->

<!--                        일간 랭킹 7위 레시피 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/static/js/rank.js/"></script>
</body>
