<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/rank.css/">

    <title>1인가구 레시피 모음집</title>

<body>
    <nav class="naviBar">
        <ul>
            <li><a class="logoLink" href="#">로고 미정</a></li>
            <li><a class="menuLink" href="#">전체 레시피 보기</a></li>
            <li><a class="menuLink" href="#">랭킹 보기</a></li>
            <li><a class="menuLink" href="#">마이페이지</a></li>
            <li><a class="myPageLink" href="#"><img src="/static/img/myPageIcon.png" class="loginIcon"></a></li>
            <li><a class="link" href="#"><img src="/static/img/menuIcon.png" class="menuIcon"></a></li>
        </ul>
    </nav>

    <div class="wrap">
        <div class="rankTitleWrap">
            <img src="/static/img/starIcon.png/" class="starIcon"><span class="rankTitle">ㅏ들 이정도는 만들더라 TOP
            <span class="rankTitleTop10">10</span></span>
        </div>

        <div class="contentWrap">
            <div class="sortBar">
                <ul>
                    <li class="monthly"><a class="periodSort" href="monthlyRank.html">월간</a></li>
                    <li class="weekly"><a class="periodSort" href="rank.html">주간</a></li>
                </ul>
            </div>
            <div class="listWrap">
                <div class="weeklyFirstRecipe">
                    <div class="recipeWrap">
                        <div class="recipeImgWrap">
                            <img class="medalIcon" src="">
                            <a class="recipe_link" href="#"><img class="recipe_img" src="https://img-cf.kurly.com/shop/data/goodsview/20201012/gv10000126356_1.jpg"></a>
                        </div>
                        <div class="recipeDescWrap">
                            <a class="recipe_link" href="#"><span class="recipe_name" id="recipe_name">주간 추천 1위 레시피</span></a><br>
                        </div>
                        <div class="recipeDesc2Wrap">
                            <div class="recipeTimeWrap">
                                <img class="timeIcon" src="/static/img/timeIcon.png/">
                                <span class="recipe_time" id="recipe_time">약 00분 소요</span>
                            </div>
                            <div class="recipeDiffWrap">
                                <img class="diffIcon" src="/static/img/3starIcon.png/">
                                <span class="recipe_diff" id="recipe_diff">매우 쉬움 주의</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weeklyFirstRecipe">
                    <div class="recipeWrap">
                        <div class="recipeImgWrap">
                            <img class="medalIcon" src="">
                            <a class="recipe_link" href="#"><img class="recipe_img" src="https://img-cf.kurly.com/shop/data/goodsview/20201012/gv10000126356_1.jpg"></a>
                        </div>
                        <div class="recipeDescWrap">
                            <a class="recipe_link" href="#"><span class="recipe_name" id="recipe_name">주간 추천 2위 레시피</span></a><br>
                        </div>
                        <div class="recipeDesc2Wrap">
                            <div class="recipeTimeWrap">
                                <img class="timeIcon" src="/static/img/timeIcon.png/">
                                <span class="recipe_time" id="recipe_time">약 00분 소요</span>
                            </div>
                            <div class="recipeDiffWrap">
                                <img class="diffIcon" src="/static/img/3starIcon.png/">
                                <span class="recipe_diff" id="recipe_diff">매우 쉬움 주의</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weeklyFirstRecipe">
                    <div class="recipeWrap">
                        <div class="recipeImgWrap">
                            <img class="medalIcon" src="">
                            <a class="recipe_link" href="#"><img class="recipe_img" src="https://img-cf.kurly.com/shop/data/goodsview/20201012/gv10000126356_1.jpg"></a>
                        </div>
                        <div class="recipeDescWrap">
                            <a class="recipe_link" href="#"><span class="recipe_name" id="recipe_name">주간 추천 3위 레시피</span></a><br>
                        </div>
                        <div class="recipeDesc2Wrap">
                            <div class="recipeTimeWrap">
                                <img class="timeIcon" src="/static/img/timeIcon.png/">
                                <span class="recipe_time" id="recipe_time">약 00분 소요</span>
                            </div>
                            <div class="recipeDiffWrap">
                                <img class="diffIcon" src="/static/img/3starIcon.png/">
                                <span class="recipe_diff" id="recipe_diff">매우 쉬움 주의</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="weeklyRecipes">
                    <div class="recipeWrap">
                        <hr style="border-color: #DCDCDC">
<!--                        주간 랭킹 4위 레시피-->
                        <div class="recipeWraps">
                            <span class="recipeRank">4</span>
                            <div class="recipeNameWrap">
                                <a class="recipe_link" href="#"><span class="recipe_name">주간 추천 4위 레시피</span></a>
                            </div>
                            <div class="recipeDescWraps">
                                <img class="timeIcon" style="width: 25px" src="/static/img/timeIcon.png/">
                                <span class="recipe_time" style="font-size: 15px">약 00분 소요</span><br>
                                <img class="diffIcon" style="width: 30px" src="/static/img/3starIcon.png/">
                                <span class="recipe_diff" style="font-size: 15px">매우 쉬움 주의</span>
                            </div>
                            <hr style="border-color: #DCDCDC">
                        </div>
<!--                        주간 랭킹 5위 레시피-->
                        <div class="recipeWraps">
                            <span class="recipeRank">5</span>
                            <div class="recipeNameWrap">
                                <a class="recipe_link" href="#"><span class="recipe_name">주간 추천 5위 레시피</span></a>
                            </div>
                            <div class="recipeDescWraps">
                                <img class="timeIcon" style="width: 25px" src="/static/img/timeIcon.png/">
                                <span class="recipe_time" style="font-size: 15px">약 00분 소요</span><br>
                                <img class="diffIcon" style="width: 30px" src="/static/img/3starIcon.png/">
                                <span class="recipe_diff" style="font-size: 15px">매우 쉬움 주의</span>
                            </div>
                            <hr style="border-color: #DCDCDC">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

